
  	<div class="container">

  		<h1>Colours</h1>
  		<h2>Primary Colour Pallete</h2>
	  	<ul class="cl-colours">
	  		<li>
	  			<h3 class="cl-info">Mid Blue</h3>
	  			<span class="cl-swatch" style="background:#0b55a8"></span>
	  			<dl class="cl-info">
	  				<dt>Hex: </dt>
	  				<dd class="hex">#0b55a8</dd>
	  			</dl>
	  			<dl class="cl-info">
	  				<dt>RBG: </dt>
	  				<dd class="rgb">11/85/168</dd>
	  			</dl>
	  			<dl class="cl-info">
	  				<dt>CMYK: </dt>
	  				<dd class="cmyk">96/74/0/0</dd>
	  			</dl>
	  		</li>
	  		<li>
	  			<h3 class="cl-info">Light Blue</h3>
	  			<span class="cl-swatch" style="background:#a6d0ff"></span>
	  			<dl class="cl-info">
	  				<dt>Hex: </dt>
	  				<dd class="hex">#a6d0ff</dd>
	  			</dl>
	  			<dl class="cl-info">
	  				<dt>RBG: </dt>
	  				<dd class="rgb">166/208/255</dd>
	  			</dl>
	  			<dl class="cl-info">
	  				<dt>CMYK: </dt>
	  				<dd class="cmyk">31/10/0/0</dd>
	  			</dl>
	  		</li>
	  		<li>
	  			<h3 class="cl-info">Gold</h3>
	  			<span class="cl-swatch" style="background:#fcbf3d"></span>
	  			<dl class="cl-info">
	  				<dt>Hex: </dt>
	  				<dd class="hex">#fcbf3d</dd>
	  			</dl>
	  			<dl class="cl-info">
	  				<dt>RBG: </dt>
	  				<dd class="rgb">252/191/61</dd>
	  			</dl>
	  			<dl class="cl-info">
	  				<dt>CMYK: </dt>
	  				<dd class="cmyk">1/27/87/0</dd>
	  			</dl>
	  		</li>
	  		<li>
	  			<h3 class="cl-info">Dark Blue</h3>
	  			<span class="cl-swatch" style="background:#002158"></span>
	  			<dl class="cl-info">
	  				<dt>Hex: </dt>
	  				<dd class="hex">#002158</dd>
	  			</dl>
	  			<dl class="cl-info">
	  				<dt>RBG: </dt>
	  				<dd class="rgb">0/33/88</dd>
	  			</dl>
	  			<dl class="cl-info">
	  				<dt>CMYK: </dt>
	  				<dd class="cmyk">100/92/34/34</dd>
	  			</dl>
	  		</li>
	  		<li>
	  			<h3 class="cl-info">Dark Grey</h3>
	  			<span class="cl-swatch" style="background:#312b39"></span>
	  			<dl class="cl-info">
	  				<dt>Hex: </dt>
	  				<dd class="hex">#312b39</dd>
	  			</dl>
	  			<dl class="cl-info">
	  				<dt>RBG: </dt>
	  				<dd class="rgb">49/43/57</dd>
	  			</dl>
	  			<dl class="cl-info">
	  				<dt>CMYK: </dt>
	  				<dd class="cmyk">75/74/52/56</dd>
	  			</dl>
	  		</li>
	  		<li>
	  			<h3 class="cl-info">White</h3>
	  			<span class="cl-swatch" style="background:#ffffff"></span>
	  			<dl class="cl-info">
	  				<dt>Hex: </dt>
	  				<dd class="hex">#ffffff</dd>
	  			</dl>
	  			<dl class="cl-info">
	  				<dt>RBG: </dt>
	  				<dd class="rgb">255/255/255</dd>
	  			</dl>
	  			<dl class="cl-info">
	  				<dt>CMYK: </dt>
	  				<dd class="cmyk">0/0/0/0</dd>
	  			</dl>
	  		</li>
	  	</ul>
	  	<h2>Secondary Colour Pallete</h2>
	  	<ul class="cl-colours">
	  		<li>
	  			<h3 class="cl-info">Purple</h3>
	  			<span class="cl-swatch" style="background:#9d3c97"></span>
	  			<dl class="cl-info">
	  				<dt>Hex: </dt>
	  				<dd class="hex">#9d3c97</dd>
	  			</dl>
	  			<dl class="cl-info">
	  				<dt>RBG: </dt>
	  				<dd class="rgb">157/60/151</dd>
	  			</dl>
	  			<dl class="cl-info">
	  				<dt>CMYK: </dt>
	  				<dd class="cmyk">42/91/0/0</dd>
	  			</dl>
	  		</li>
	  		<li>
	  			<h3 class="cl-info">Dark Purple</h3>
	  			<span class="cl-swatch" style="background:#480d43"></span>
	  			<dl class="cl-info">
	  				<dt>Hex: </dt>
	  				<dd class="hex">#480d43</dd>
	  			</dl>
	  			<dl class="cl-info">
	  				<dt>RBG: </dt>
	  				<dd class="rgb">72/13/67</dd>
	  			</dl>
	  			<dl class="cl-info">
	  				<dt>CMYK: </dt>
	  				<dd class="cmyk">69/100/38/45</dd>
	  			</dl>
	  		</li>
	  	</ul>

	  </div>