<!DOCTYPE html>
<!--[if (IE 8)&!(IEMobile)]><html lang="en-GB class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-GB" class="no-js"><!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
      <title>Component Library</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <!--<link rel="stylesheet" href="../../assets/css/screen.css">-->
      <link rel="stylesheet" href="../../assets/css/styleguide.css">
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">
      <script src="../../assets/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>

  	<div class="container">

	  	<h1>The Component Library explained</h1>

	  	<ol class="steps">
	  		<li>
	  			<!--<b class="circle">1</b>-->
	  			<h2>What's this library for?</h2>
	  			<p>This Library provides the building blocks that make up The Open University website so that it’s easy to use elements from the site, and we can build a consistent global style, brand and experience.</p>
	  		</li>
	  		<li>
	  			<!--<b class="circle">2</b>-->
	  			<h2>How has this Library been structured?</h2>
	  			<p>This Library follows the priciples of <a href="http://bradfrostweb.com/blog/post/atomic-web-design/" target="_blank">Atomic Web Design</a>.</p>
	  			<ol class="flow">
	  				<li>
	  					<div>
		  					<h3>Atoms</h3>
		  					<i class="cl_icon atoms"><img src="../../style-guide/img/icons/icon-atom.png" alt="Atom"></i>
		  					<p>The building blocks of the interface. Eg. Basic typography (fonts, headings, lists), colour palate etc.</p>
		  				</div>
		  			</li>
		  			<li>
		  				<div>
		  					<h3>Molecules</h3>
		  					<i class="cl_icon molecules"><img src="../../style-guide/img/icons/icon-molecule.png" alt="Molecule"></i>
		  					<p>Atoms combined together to serve as the backbone of our design system. Eg. A form label, input field and button combine to make a search box</p>
		  				</div>
		  			</li>
		  			<li>
		  				<div>
		  					<h3>Organisms</h3>
		  					<i class="cl_icon organisms"><img src="../../style-guide/img/icons/icon-organism.png" alt="Organism"></i>
		  					<p>Molecules joined together to form a relatively complex, distinct section of an interface. Eg. A site header could be made up of a logo, nav bar and search box.</p>
		  				</div>
		  			</li>
		  			<li>
		  				<div>
		  					<h3>Templates</h3>
		  					<i class="cl_icon templates"><img src="../../style-guide/img/icons/icon-template.png" alt="Template"></i>
		  					<p>Groups of organisms combined to form page wireframes. Here we strart to see things like layout in action</p>
		  				</div>
		  			</li>
		  			<li>
		  				<div>
		  					<h3>Pages</h3>
		  					<i class="cl_icon pages"><img src="../../style-guide/img/icons/icon-page.png" alt="Page"></i>
		  					<p>Specific instances of templates. Placeholder content is replaced with real content to give an accurate depiction of what a user will ultimately see.</p>
		  				</div>
		  			</li>
		  		</ol>
		  	</li>
		  	<li>
		  		<!--<b class="circle">3</b>-->
		  		<h2>Who can I contact if I need help?</h2>
		  		<table>
		  			<tbody>
		  				<tr>
		  					<td>David Rubery</td>
		  					<td><a href="mailto:david.rubery@jaywing.com">david.rubery@jaywing.com</a></td>
		  					<td>Project Manager</td>
		  				</tr>
		  				<tr>
		  					<td>Emma Chittendon</td>
		  					<td><a href="mailto:emma.chttendon@jaywing.com">emma.chittendon@jaywing.com</a></td>
		  					<td>UX architect</td>
		  				</tr>
		  				<tr>
		  					<td>James Taylor</td>
		  					<td><a href="mailto:james.taylor@jaywing.com">james.taylor@jaywing.com</a></td>
		  					<td>Web Developer</td>
		  				</tr>
		  				<tr>
		  					<td>Jacqui Levey</td>
		  					<td><a href="mailto:jacqui.levey@jaywing.com">jacqui.levey@jaywing.com</a></td>
		  					<td>Designer</td>
		  				</tr>
		  			</tbody>
		  			<thead>
		  				<tr>
		  					<th>Name</th>
		  					<th>Email</th>
		  					<th>Role</th>
		  				</tr>
		  			</thead>
		  		</table>
		  	</li>
		  </ol>

		</div>

		<script src="../../assets/js/vendor/jquery-1.10.2.min.js"></script>

  </body>
</html>