

.cl-colours {
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0 0 0 0.25em;
}

.cl-colours li {
	display:inline-block;
	width:8em;
	border:1px solid rgba(0,0,0,.3);
	margin:0.25em;
}

.cl-swatch {
	border:1px solid rgba(0,0,0,.1);
	display:block;
	margin:0.25em;
	height:3em;
}

.cl-info {
	margin:0.25em;
	padding:0;
	overflow:hidden;
	font-size:0.75em;
}
.cl-info dt {
	font-weight:bold;
	float:left;
}
.cl-info dd {
	margin:0;
	float:right;
}