<h1 class="subheading">Sub-heading 1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
<h2 class="subheading">Sub-heading 2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
<h3 class="subheading">Sub-heading 3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
<h4 class="subheading">Sub-heading 4 - Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
<h5 class="subheading">Sub-heading 5 - Lorem ipsum dolor sit amet, consectetur adipisicing elit</h5>
<h6 class="subheading">Sub-heading 6 - Lorem ipsum dolor sit amet, consectetur adipisicing elit</h6>